.input {
    width: 85%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;;
    margin-top: 16px;
    margin-top: 16px;
    padding: 16px 0 16px 16px;
    font-size: 16px;
    outline: none;
    
  }