

.price__table {
    display: none;
    font-size: 14px;
    table-layout: fixed;
    margin: auto;
    font-weight: 400;
    text-align: left;
    
    border-spacing: 0 1px;
    box-sizing: content-box;

@media (min-width: 767px) {
    display: table;
    width: calc(100% - 48px);
   
   
}
@media (min-width: 1440px) {
    display: table;
    
    width: calc(100% - 64px);
}
    
   



& th {
    background-color: transparent;
    font-weight: normal; 
    padding: 24px;
    color: #7E7E82;
    

    &:nth-child(1) {
        width: 50%;
    }
    &:nth-child(2) {
        width: 12%;
    }
    &:nth-child(3) {
        width: 18%;
    }
    &:nth-child(4) {
        width: 20%;
    }
}

& td{
    white-space: nowrap;
    background-color: #fff ;
    padding: 24px;
   
   
    &:nth-child(4n){
        padding: 0;
        text-align: center;
       
        
    }
    & img.sub{
        width: 119px;
        
    }
}

}
