$theme: #F2F2F2;
$title-color: #7E7E82;
$items-border: #EAEAEA;
$pagination-color: #B5B6BC;

.brands {
	background-color: $theme;
	border: 1px solid transparent;
	padding-bottom: 24px;

&__container {
		height: 200px;
		overflow: hidden;
		transition: 0.5s;
		flex-wrap: nowrap;
	}
&__title {
	padding: 16px;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	text-transform: uppercase;
	color: $title-color;
	background: -webkit-linear-gradient(left, 
		rgba(242,242,242,1) 0%,
		rgba(255,255,255,1) 100%,
		rgba(125,185,232,1) 100%,
		rgba(255,255,255,1) 100%); 

	@media(min-width: 767px) {
		padding: 16px 24px;	
		}

	@media(min-width: 1440px) {
		padding: 16px 32px;
	}
}

&__list {
	margin-top: 16px;
	display: flex;
	list-style: none;
	min-width: 0;
	flex: 1 0 240px;

	@media (min-width: 767px) {
		margin-top: 24px;
		flex: 1 0 224px;
		flex-wrap: wrap;
	}
	@media(min-width: 1440px) {
		margin-top: 24px;
		flex: 1 0 240px;
		flex-wrap: wrap;
	}

	& img {
		max-width: 60%;
		max-height: 40px;
	}
}


&__item {
	margin-bottom: 16px;
	height: 72px ;

	@media(min-width: 767px) and (max-width: 1440px) {
		margin-left: 24px;	
	}

	@media(min-width: 1440px) {
		margin-left: 32px;
	}

	&:hover {
		opacity: 60%
	}
}


&__button {	
	display: flex;
	cursor: pointer;
	border: none;
	align-items: center;
	border: 1px solid $items-border;
    border-radius: 6px;
	width: 240px ;
	height: 72px ;
	padding: 0 16px;
	justify-content: space-between;
	box-sizing: border-box;
    background: white url("../img/go.png") no-repeat 184px 50%;
    background-size: 40px 40px;
}



& .swiper-brands {
	height: 130px;
}

& .swiper-slide {
	width: auto !important;
	margin-left: 16px;
}

& .swiper-pagination {
	height: 20px;
}

& .swiper-pagination-bullet-active {
	width:  20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	background-color: $pagination-color;
}

& .swiper-horizontal>.swiper-pagination-bullets
 .swiper-pagination-bullet,
 .swiper-pagination-horizontal.swiper-pagination-bullets
 .swiper-pagination-bullet {
	background-color: $pagination-color;
	width:  20px !important; //не работает :((
	height: 20px !important;
}

}
